.modal {
	height: 500px;
	width: 350px;
	position: fixed;
	display: block;
	top: 45%;
	left: 85%;
	background-color: lightgrey;
	transform: translate(-50%, -50%);
	justify-content: space-between;
}

ul {
	display: flex;
	flex-direction: column;


}

.players {
	margin-top: 15px;
}

.close {

	border: 1px solid black;
}
