

button{
	background-color: white;
	margin: 45px;

}
.form {

	border: 3px solid black;
	background-color: lightgrey;
	width: 35vw;
	margin: auto

}
input{
	margin: 10px;
	color: black;
	border: 2px solid black;
}


.back-button {
	display: flex

}
