
.player-games {
	display: block;
	text-align: center;
	border: 1px solid black;
	background-color: lightgrey;
/*	margin-top: 2vh;*/
	width: 35vw;
	margin: auto;
	margin-top: 2vh;
	height: 20vh;



}

.schedule{
	text-align: center;
}

h2{
	margin-top: 40px;
}
/*
.container{
	border: 5px solid red;
}
*/